<p>cadastro works!</p>
<p>cadastro works!</p>
<form action="" class="form-floating">

    <div class="form__group field">
        <input id="name" type="input" class="form__field" placeholder="Name" [(ngModel)]="nomecompleto">
        <label for="name" class="form__label">Nome</label>
    </div>

    <div class="form__group field">
      <input id="name2" type="input" class="form__field" placeholder="Name" [(ngModel)]="nomesocial">
      <label for="name2" class="form__label">Nome social</label>
    </div>

    <div class="form__group field">
      <input id="name3" type="input" class="form__field" placeholder="Name" [(ngModel)]="nomemae">
      <label for="name3" class="form__label">Nome da mãe</label>
    </div>
    
    <div class="form__group field">
      <input id="name4" type="input" class="form__field" placeholder="Name" [(ngModel)]="nomepai">
      <label for="name4" class="form__label">Nome do pai</label>
    </div>

    <div class="form__group field">
      <input id="name5" type="date" class="form__field" placeholder="Name" [(ngModel)]="dt_nasc">
      <label for="name5" class="form__label">Data de nascimento</label>
    </div>

    <div class="form__group field">
      <input id="name6" type="input" class="form__field" placeholder="Name" [(ngModel)]="genero">
      <label for="name6" class="form__label">Genero</label>
    </div>

    <div class="form__group field">
      <input id="name7" type="input" class="form__field" placeholder="Name" [(ngModel)]="nacionalidade">
      <label for="name7" class="form__label">Nacionalidade</label>
    </div>

    <div class="form__group field">
      <input id="name8" type="input" class="form__field" placeholder="Name" [(ngModel)]="municipio_nascimento">
      <label for="name8" class="form__label">Municio de nascimento</label>
    </div>

    <div class="form__group field">
      <input id="name9" type="input" class="form__field" placeholder="Name" [(ngModel)]="etnia">
      <label for="name9" class="form__label">Raça/Cor</label>
    </div>

    <div class="form__group field">
      <input id="name10" type="input" class="form__field" placeholder="Name" [(ngModel)]="frequenta_escola">
      <label for="name10" class="form__label">Frequenta escola?</label>
    </div>

    <div class="form__group field">
      <input id="name11" type="input" class="form__field" placeholder="Name" [(ngModel)]="escolaridade">
      <label for="name11" class="form__label">Escolaridade</label>
    </div>

    <div class="form__group field">
      <input id="name12" type="input" class="form__field" placeholder="Name" [(ngModel)]="situacao_familiar">
      <label for="name12" class="form__label">Situação familiar</label>
    </div>

    <div class="form__group field">
      <input id="name13" type="input" class="form__field" placeholder="Name" [(ngModel)]="estabelecimento_vinculo">
      <label for="name13" class="form__label">Estabelecimento de vínculo</label>
    </div>

    <div class="form__group field">
      <input id="name14" type="input" class="form__field" placeholder="Name" [(ngModel)]="estabelecimento_cadastro">
      <label for="name14" class="form__label">Estabelecimento de cadastro</label>
    </div>

    <div class="form__group field">
      <input id="name15" type="input" class="form__field" placeholder="Name" [(ngModel)]="deficiencia">
      <label for="name15" class="form__label">Tem deficiência?</label>
    </div>

    <div class="form__group field">
      <input id="name16" type="input" class="form__field" placeholder="Name" [(ngModel)]="deficiencia_visual">
      <label for="name16" class="form__label">Deficiência Visual</label>
    </div>

    <div class="form__group field">
      <input id="name17" type="input" class="form__field" placeholder="Name" [(ngModel)]="deficiencia_auditiva">
      <label for="name17" class="form__label">Deficiência auditiva</label>
    </div>

    <div class="form__group field">
      <input id="name18" type="input" class="form__field" placeholder="Name" [(ngModel)]="deficiencia_motora">
      <label for="name18" class="form__label">Deficiência motora</label>
    </div>

    <div class="form__group field">
      <input id="name19" type="input" class="form__field" placeholder="Name" [(ngModel)]="deficiencia_intelectual">
      <label for="name19" class="form__label">Deficiência intelectual</label>
    </div>

    <div class="form__group field">
      <input id="name20" type="input" class="form__field" placeholder="Name" [(ngModel)]="celular">
      <label for="name20" class="form__label">Celular</label>
    </div>

    <div class="form__group field">
      <input id="name21" type="input" class="form__field" placeholder="Name" [(ngModel)]="tel_residencial">
      <label for="name21" class="form__label">Telefone residencial</label>
    </div>

    <div class="form__group field">
      <input id="name21" type="input" class="form__field" placeholder="Name" [(ngModel)]="tel_comercial">
      <label for="name21" class="form__label">Telefone Comercial</label>
    </div>

    <div class="form__group field">
      <input id="name22" type="input" class="form__field" placeholder="Name" [(ngModel)]="tel_contato">
      <label for="name22" class="form__label">Telefone de Contato</label>
    </div>

    <div class="form__group field">
      <input id="name23" type="input" class="form__field" placeholder="Name" [(ngModel)]="email">
      <label for="name23" class="form__label">E-mail</label>
    </div>


    <div class="form__group field">
      <input id="name24" type="input" class="form__field" placeholder="Name" [(ngModel)]="origem_endereco">
      <label for="name24" class="form__label">Origem do endereço</label>
    </div>

    <div class="form__group field">
      <input id="name25" type="input" class="form__field" placeholder="Name" [(ngModel)]="dados_endereco">
      <label for="name25" class="form__label">Dados do endereço</label>
    </div>

    <div class="form__group field">
      <input id="name26" type="input" class="form__field" placeholder="Name" [(ngModel)]="cpf">
      <label for="name26" class="form__label">CPF</label>
    </div>

    <div class="form__group field">
      <input id="name27" type="input" class="form__field" placeholder="Name" [(ngModel)]="identidade">
      <label for="name27" class="form__label">Identidade</label>
    </div>
</form>